{%extends 'base.html' %} {% block title %}About{% endblock %} {%block content%}
<br />
    <h1 align="center">
        <strong><h1><strong>Check Your <mark>Registration Details</mark></strong></h1></strong>
    </h1>
    <h6>
        First Name: {{ user.firstName }}<br />
        Last Name: {{ user.lastName }}<br />
        Email: {{ user.email }}<br />
    </h6>
    <br />
    {%for roomy in HotelRoom%}
    <h6>
        {%if time(int(roomy.checkin[:4]),int(roomy.checkin[5:7]),int(roomy.checkin[8:])) >  time.today()%}
        <div style = "color:green">
        Number Of People: {{ roomy.numOfPeople }}<br />
        Check In Date: {{ roomy.checkin }} <br />
        Check Out Date: {{ roomy.checkout }} <br />
        Dining Option: 
        {%if roomy.breakFast == '1'%} Breakfast<br />
        {%elif roomy.breakFast == '2'%} Breakfast and Dinner<br />
        {%else%} Breakfast, Lunch and Dinner<br />
        {%endif%}
        Room Type: 
        {% if  roomy.roomType == '1' %} Single Room<br />
        {% elif roomy.roomType == '2' %} Double Room<br />
        {% elif roomy.roomType == '3' %} Family Room<br />
        {% endif %}
        <h5 style = "color: black">
        Your Grand Total is: {{ roomy.totalPrice }} $<br />
        -----------------------------------------------------------------
        </h5>    
    </div>
        {%else%}
        <div style = "color:red">
            Number Of People: {{ roomy.numOfPeople }}<br />
            Check In Date: {{ roomy.checkin }} <br />
            Check Out Date: {{ roomy.checkout }} <br />
            Dining Option: 
            {%if roomy.breakFast == '1'%} Breakfast<br />
            {%elif roomy.breakFast == '2'%} Breakfast and Dinner<br />
            {%else%} Breakfast, Lunch and Dinner<br />
            {%endif%}
            Room Type: 
            {% if  roomy.roomType == '1' %} Single Room<br />
            {% elif roomy.roomType == '2' %} Double Room<br />
            {% elif roomy.roomType == '3' %} Family Room<br />
            {% endif %}
            <h5 style = "color: black">
                Your Grand Total is: {{ roomy.totalPrice }} $<br />
                -----------------------------------------------------------------
            </h5>
        </h6>
            </div>
        {%endif%}
    <br />
    {% endfor %}
<br />
<div align = "center">
<form method="POST">
    <button input type = "submit" name = "delete" id = "delete" class="btn btn-outline-dark" href = "delete">Cancel Your Night</button>
        <br /><br />
    <div class="col-auto" style = "margin:1% 30%">
        <input type = "text" id = "updatePeople" name = "updatePeople" class="form-control" aria-describedby="passwordHelpInline" placeholder="Enter The Number of Guests You Would Like To Add">
    </div>
    <br />
    <label for="Book day" id = "checkin" name = "checkin">Change your: Booking day</label>
    <input type="date" id="checkin" name="checkin">
    <label for="Checkout day" id = "checkout" name = "checkin">Checkout day</label>
    <input type="date" id="checkout" name="checkout"><br />
    <br />
    <button type="submit" class="btn btn-outline-dark">Submit Changes</button>
</form>
<div>
{%endblock%}
