{%extends 'base.html' %} {% block title %}Book{% endblock %} {%block content%}
<br />
<h1 align="center">
	<strong><h1>BOOK YOUR NIGHT</h1></strong>
</h1>
<form method="POST">
	<br />
	<div class="row g-3">
		<div class="col">
			<input
				type="text"
				class="form-control"
				placeholder="First name"
				aria-label="First name"
			/>
		</div>
		<div class="col">
			<input
				type="text"
				class="form-control"
				placeholder="Last name"
				aria-label="Last name"
			/>
		</div>
	</div>
	<br />
	<select class="form-select" aria-label="Default select example">
		<option selected>Select The Room Size</option>
		<option value="1">Economy</option>
		<option value="2">King Room</option>
		<option value="3">Supreem Room</option>
	</select>
	<br /><br />
	<div class="form-check">
		<input
			class="form-check-input"
			type="checkbox"
			value=""
			id="flexCheckIndeterminate"
		/>
		<label class="form-check-label" for="flexCheckIndeterminate">
			BreakFast
		</label>
	</div>
	<div class="form-check">
		<input
			class="form-check-input"
			type="checkbox"
			value=""
			id="flexCheckIndeterminate"
		/>
		<label class="form-check-label" for="flexCheckIndeterminate">
			BreakFast and Dinner
		</label>
	</div>
    <br />
    <label for="customRange3" class="form-label">Enter number of people(max = 6)</label>
<input type="range" class="form-range" min="0" max="6" step="0.5" id="customRange3">
</form>
{%endblock%}
