{%extends 'base.html' %} {% block title %}Book{% endblock %} {%block content%}
<br />
<h1 align="center">
	<strong><h1>BOOK YOUR NIGHT</h1></strong>
</h1>
<form method="POST">
	<br />
	<select class="form-select" aria-label="Default select example" name = "roomType" id = "roomType">
		<option selected>Select The Room Size</option>
		<option value="1">Economy</option>
		<option value="2">VIP Room</option>
		<option value="3">Supreem Room</option>
	</select>
	<br /><br />
	<div class="form-check" name = "breakfast" id = "breakfast">
		<input
			class="form-check-input"
			type="checkbox"
			value=""
			name = "breakfast"
			id="breakfast"
		/>
		<label class="form-check-label" for="flexCheckIndeterminate" name = "breakfast" id = "breakfast">
			BreakFast
		</label>
	</div>
	<div class="form-check" name = "breakfast" id = "breakfast">
		<input
			class="form-check-input"
			type="checkbox"
			value=""
			name = "breakfast"
			id="breakfast"
		/>
		<label class="form-check-label" for="flexCheckIndeterminate">
			BreakFast and Dinner
		</label>
	</div>
	<br />
	<label for="customRange3" class="form-label"
		>Enter number of people(max = 6)</label
	>
	<input
		type="range"
		class="form-range"
		min="0"
		max="6"
		step="1"
		name = "number"
		id = "number"
		id="customRange3"
	/>
    <br />
    <label for="Book day">Enter your booking day</label><br>
        <input type="date" id="Book day" name="enter your checkin day"><br>
    <label for="Checkout day">Enter your checkout day</label><br>
        <input type="date" id="Book day" name="enter your checkout day"><br>
    <button type="submit" class="btn btn-outline-dark">Check Availability</button>
</form>
{%endblock%}