{%extends 'base.html' %}{%block content%}
<div class="container py-3">
  <form method = "POST">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Welcome To EECE 351 <mark><strong>Hotel!</strong></mark></h1>
      <p class="fs-5 text-muted">Please refer to the below prices for more informations about our Hotel</p>
    </div>
  </header>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Single Room</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$35<small class="text-muted fw-light">/night</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>2 People Allowed Per Room</li>
              <li>Full Access to Our SPA</li>
              <li>Full Dining Experience</li>
            </ul>
            {% if user.is_authenticated %}
              <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Book Your Night</button>
            {%else%}
            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Sign Up Now</button>
            {%endif%}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Double Room</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$40<small class="text-muted fw-light">/night</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Up to 3 People/Room</li>
              <li> Extreme VIP Experience</li>
              <li>VIP support</li>
            </ul>
            {% if user.is_authenticated %}
              <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Book Your Night</button>
            {%else%}
            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Sign Up Now</button>
            {%endif%}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Familiy Room</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$60<small class="text-muted fw-light">/night</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Up to 6 People Per Night</li>
              <li>Ultimate Experience For a family</li>
              <li>Ultimate Support</li>
            </ul>
            {% if user.is_authenticated %}
              <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Book Your Night</button>
            {%else%}
            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Sign Up Now</button>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</form>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<iframe  width="800" height="600" alignment = "center" src="https://www.youtube.com/embed/A-yYTkfrHR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{%endblock%}
