{%extends 'base.html' %}{%block content%}
<head>
	<link rel="stylesheet" href="/static/design.css">
</head>
<h1><strong> Welcome to EECE 351 <mark>Hotel!</mark></strong></h1><br />
<iframe  width="600" height="450" src="https://www.youtube.com/embed/A-yYTkfrHR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div id="widget ">
    <div class="btn-o bg" data-scribe="component:button" style="width: 100%;"><a href="https://instagram.com/eece351project?igshid=MDM4ZDc5MmU=" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l"></span></a></div>
  </div>
  
{%endblock%}
