{%extends 'base.html' %} {%block content%}
<head>
	<link rel="stylesheet" href="../static/style.css">
</head>
<div class="wrapper">
	<div class="title">
	   Change Password
	</div>
<form method = "POST">
    <br />
	<div class="field">
        <input type="email" id="email" name = "email" class="form-control" aria-describedby="passwordHelpInline" required>
        <label>Email Address</label>
    </div>
    <div class="field">
		<input type="submit" value="Confirm">
	</div>
    </form>
</div>
{%endblock%}