{%extends "base.html" %} {% block title %}Sign-up{% endblock %}{%block content%}
<br />
<head>
	<link rel="stylesheet" href="../static/style.css">
</head>



<div class="wrapper">
	<div class="title">
	   SignUp Form
	</div>
<form method="POST">
	<br />
	<div class="field">
		<input type="text" id="firstName" name = "firstName" class="form-control">
		<label>First Name</label>
	 </div>
	<div class="field">
		<input type="text" id="lastName" name = "lastName" class="form-control">
		<label>Last Name</label>
	 </div>
	<div class="field">
		<input type="email" id="email" name = "email" class="form-control">
		<label>Email</label>
	 </div>
	<div class="field">
		<input type="password" id="password1" name = "password1" class="form-control">
		<label>Enter Password</label>
	 </div>
	<div class="field">
		<input type="password" id="password2" name = "password2" class="form-control">
		<label>Confirm Password</label>
	 </div>
	 <div class="field">
		<input type="submit" value="Confirm">
	 </div>
	 <div class="signup-link">
		Already have an account? <a href="/login">Login now</a>
	 </div>


		
</form>
{%endblock%}

