{%extends 'base.html' %} {% block title %}Sign-up{% endblock %}

<div class="form-group">
	<label for="firstName">First Name</label>
	<input
		type="text"
		class="form-control"
		id="firstName"
		name="firstName"
		placeholder="Please enter First Name"
	/>
</div>
<div class="form-group">
	<label for="password1">Password</label>
	<input
		type="password"
		class="form-control"
		id="password"
		name="password"
		placeholder="Please enter your password"
	/>
</div>

<div class="form-group">
	<label for="password2">Password</label>
	<input
		type="password"
		class="form-control"
		id="password2"
		name="password2"
		placeholder="Please confirm your password"
	/>
	<br />
	<button type="submit" class="btn btn-primary">Submit</button>
</div>
