{%extends "base.html" %} {% block title %}Sign-up{% endblock %}{%block content%}
<br />
<h1 align="center"><strong>Sign-Up <mark>Here!</mark></Strong></h1>
<form method="POST">
	<br />
	<div class="row">
		<div class="firstName">
			<input
				type="text"
				class="form-control"
				id="firstName"
				name="firstName"
				placeholder="First name"
				aria-label="First name"
			/>
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="lastName">
			<input
				type="text"
				class="form-control"
				id="lastName"
				name="lastName"
				placeholder="Last name"
				aria-label="Last name"
			/>
		</div>
	</div>
	<br />
	<div class="row">
		<label for="email">Email Adress</label>
		<input
			type="email"
			class="form-control"
			id="email"
			name="email"
			placeholder="Please enter your email"
		/>
	</div>
	<br />
	<div class="row">
		<label for="password1">Password</label>
		<input
			type="password"
			class="form-control"
			id="password1"
			name="password1"
			placeholder="Please enter your password"
		/>
	</div>
	<br />
	<div class="row">
		<label for="password2">Password (confirm)</label>
		<input
			type="password"
			class="form-control"
			id="password2"
			name="password2"
			placeholder="Please confirm the password"
		/>
    <div>
      <br></br>
		<button type="submit" class="btn btn-outline-dark">Confirm</button>
	</div>
</form>
{%endblock%}